.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 58px;
    width: 1280px;

    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 187px;
}

.info-container p {
    color: #888888;
    font-size: 12px;
}
