.header-container {
    position: sticky;
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    height: 80px;
    width: 100%;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
    padding-left: 76px;
}

.logo-title {
    font-weight: 700;
    font-size: 2rem;
    margin-left: 12px;
    width: 230px;
}

.logo-container img {
    width: 55px;
    height: 35px;
}

.hamburger-container {
    display: flex;
    justify-content: end;
    width: 200px;
}

.hamburger-container > img {
    cursor: pointer;
    width: 34px;
    height: 24px;
    margin-right: 76px;
}

.hamburger-list-container{
    position: absolute;
    margin-right: 235px;
}

.hamburger-list-head {
    position: absolute;
    margin-left: 132px;
    margin-top: 30px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    box-shadow:-4px 4px 8px -4px rgba(0, 0, 0, 0.1);
    transform: rotate(135deg);
    z-index: 2;
}

.hamburger-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 40px;
    margin-right: 20px;
    background-color: #fff;
    width: 200px;
    height: 150px;
    border-radius: 12px;

    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

.hamburger-list div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
}

.page-button {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: black;
}

.hamburger-none {
    display: none;
}
